<div class = "container">
  <img class="float_left" [src]=mypicture>
</div>
<app-header></app-header>
<div *ngfor="let message of messages | async">
  {{message.message}}
</div>
<button (click)="post()">Create User</button>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Medical Clinic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="doctor">Doctors</a>
        <a class="nav-link" routerLink="services">Services</a>
        <a class="nav-link" routerLink="price">Prices</a>
        <a class="nav-link" routerLink="appoint">Make an appointment</a>
      </div>
    </div>
  </nav>
<div class="container">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>