tr.even{
    background: black;
    color: white;
}
tr.odd{
    background: red;
    color:white;
}
.container2{
    height:40em; background-size:cover; width:auto;
    background: url(/src/assets/images/myimage.jpg);
    background-position:50% 50%;
}