<h1><B>Services</B></h1>
<ul>
    <li>
        Cardiology surgery:
        <ul>
            Medics:
            <li>
                Dr Copaescu
            </li>
            <li>
                Dr Surlea
            </li>
        </ul>
    </li>
    <li>
        General surgery:
        <ul>
            Medics:
            <li>
                Dr Rahimian
            </li>
            <li>
                Dr Predescu
            </li>
        </ul>
    </li>
    <li>
        Pediatric surgery:
        <ul>
            Medics:
            <li>
                Dr Bratila
            </li>
            <li>
                Dr Ordean
            </li>
        </ul>
    </li>
    <li>
        Plastic surgery:
        <ul>
            Medics:
            <li>
                Dr Bros
            </li>
            <li>
                Dr Prutescu
            </li>
        </ul>
    </li>
</ul>