<h1> <B>Doctors:</B></h1>
<ul>
    <li>
        <div>
            Doctor Copaescu<br>
            <button>Add Appointment</button><button>Check Program</button>
        </div>
    </li>
    <li>
        <div>
            Doctor Rahimian<br>
            <button>Add Appointment</button><button>Check Program</button>
        </div>
    </li>
    <li>
        <div>
            Doctor Bratila<br>
            <button>Add Appointment</button><button>Check Program</button>
        </div>
    </li>
    <li>
        <div>
            Doctor Predescu<br>
            <button>Add Appointment</button><button>Check Program</button>
        </div>
    </li>
    <li>
        <div>
            Doctor Surlea<br>
            <button>Add Appointment</button><button>Check Program</button>
        </div>
    </li>
</ul>
